html
    body
        form(action=action, method='post', name='myform')
            - for (var item in data)
                input(type='text' name=item value=data[item])
            input(type='submit')
        script.
            document.myform.submit();
